.header {
  padding: 20px 0;
}

.nav-list {
 padding: 50px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.nav {
  margin-right: 100px;
}
